<h1><%= @student.name %></h1>

<h3>Age: <%= @student.age %></h3>
<h3>
  School: <%= link_to(@student.school.name, school_path(@student.school.id)) %>
</h3>

<%= button_to("Edit #{@student.name}", edit_student_path(@student.id), method: "get")%>
