<h1><%= link_to "#{@school.name}", @school.link %></h1>
<h2>Students</h2>

<ul>
  <% @school.students.each do |s|%>
  <li>
    <%= s.name %> <%= button_to("Expell #{s.name}", student_path(s.id), method:
    "delete") %>
    <br />
  </li>
  <% end %>
</ul>

<h2>Search for Student</h2>
